# Philipp Neufeld, 2021-2022

# ignore output directory
out*/
build*/

# python
venv/
__pycache__/

# ignore Visual Studio specific files
.vs/
.vscode/
.cache/

# Cmake temp file
CMakeSettings.json
CMakeFiles/
CMakeCache.txt

# Simulation data
Data/
SimulationData/
*.h5
