# Philipp Neufeld, 2021-2022

# ignore output directory
out*/
build*/

venv/

# ignore Visual Studio specific files
.vs/
.vscode/
.cache/

# Cmake temp file
CMakeSettings.json
CMakeFiles/
CMakeCache.txt

# Simulation data
Data/
*.h5
